<!-- <footer>
  <div class="footer-container">
     <div class="footer-left">
        <p>© 2023 My Company</p>
     </div>
     <div class="footer-right">
        <a routerLink="/about">About Us</a>
        <a routerLink="/contact">Contact Us</a>
        <a routerLink="/faq">FAQ</a>
     </div>
  </div>
</footer> -->


<!--
<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <span class="footer-text">© 2023 My Company. All rights reserved.</span>
    <div class="spacer"></div>
    <a href="#" mat-button class="footer-link">Terms of Service</a>
    <a href="#" mat-button class="footer-link">Privacy Policy</a>
  </div>
</mat-toolbar> -->

