footer {
  background-color: #f9f9f9;
  padding: 30px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-left {
  font-size: 14px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
}

.footer-right a {
  color: #555;
  margin: 0 10px;
  text-decoration: none;
}

.footer-right a:hover {
  color: #000;
}


// @media only screen and (max-width: 600px) {
//   footer {
//     display: none;
//   }
// }

