.modal-body {
  width: 99%;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #eee;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
  font-weight: bold;
}

.footer p {
  margin: 0;
}

.footer p:first-child {
  margin-left: 250px;
}

.left-side {
  width: 46%;
  float: right;
}

.expenses-card {
  width: 100%;
  margin-bottom: 16px;
}

.expenses-table {
  width: 100%;
  overflow-x: auto;
  max-height: 400px;
}

.right-side {
  width: 52%;
  float: left;
}

@media (max-width: 768px) {
  .modal-body {
    width: 100%;
  }

  .table-container {
    width: 100%;
    margin-bottom: 20px;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #eee;
    font-weight: bold;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    font-weight: bold;
  }

  .footer p {
    margin: 0;
  }

  .footer p:first-child {
    margin-left: 0;
  }

  .left-side {
    width: 100%;
    float: none;
  }

  .expenses-card {
    width: 100%;
    margin-bottom: 16px;
  }

  .expenses-table {
    width: 100%;
    overflow-x: auto;
    max-height: 400px;
  }

  .right-side {
    width: 100%;
    float: none;
  }
}

//Drivers Info

.driver-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

.info-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: dashed 1px rgb(206, 205, 205);
  color: rgb(110, 109, 109) !important;
}

.driver-details {
  margin-bottom: 10px;
}

.detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-label {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.item-value {
  font-size: 12px;
}

/* Optional: Add additional styling to enhance the visual appeal */
.driver-info {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.info-title {
  color: #333;
}

.detail-item {
  color: #555;
}

.item-label {
  color: #888;
}

.item-value {
  color: #333;
}
