<div #pdfContent>
  <app-modal
    [headerText]="'Pay Stub'"
    [headerStyle]="{
      backgroundColor: 'coral',
      color: 'white',
      borderRadius: '4px',
      boxShadow: '0px 0px 6px 1px rgba(0, 0, 0, 0.1)'
    }"
    [headerTitleStyle]="{
      color: 'white'
    }"
  >
    <div cu-m-content class="modal-body">
      <div class="left-side">
        <!-- <div class="driver-info">
          <div class="info-title">Driver Info</div>
          <div *ngFor="let driver of drivers" class="driver-details">
            <div class="detail-item">
              <span class="item-label">Driver Name:</span>
              <span class="item-value"
                >{{ driver.firstName }} {{ driver.lastName }}</span
              >
            </div>
            <div class="detail-item">
              <span class="item-label">Phone:</span>
              <span class="item-value">{{ driver.phoneNumber }}</span>
            </div>
            <div class="detail-item">
              <span class="item-label">Email:</span>
              <span class="item-value">{{ driver.email }}</span>
            </div>
          </div>
        </div> -->

        <mat-card class="expenses-card">
          <mat-card-header>
            <mat-card-title> Expenses Details </mat-card-title>
          </mat-card-header>
          <div *ngIf="expenses$ | async as expenses">
            <table
              mat-table
              [dataSource]="expenses"
              class="expenses-table mat-elevation-z8"
            >
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let item">
                  {{ item.data?.amount | currency }}
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let item">{{ item.data?.type }}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let item">
                  {{ item.data?.description }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="['amount', 'type', 'description']"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['amount', 'type', 'description']"
              ></tr>
            </table>
          </div>
        </mat-card>
      </div>

      <div class="right-side">
        <!-- <div class="driver-info">
          <div class="info-title">Company Info</div>
          <div>
            <div class="detail-item">
              <span class="item-label">Company Name:</span>
              <span class="item-value">{{ user.companyName }} </span>
            </div>
            <div class="detail-item">
              <span class="item-label">Phone:</span>
              <span class="item-value">{{ user.phoneNumber }}</span>
            </div>
            <div class="detail-item">
              <span class="item-label">Email:</span>
              <span class="item-value">{{ user.email }}</span>
            </div>
          </div>
        </div> -->
        <mat-card class="expenses-card">
          <mat-card-header>
            <mat-card-title> Loads Details </mat-card-title>
          </mat-card-header>
          <table
            mat-table
            [dataSource]="loadsAndDrivers$"
            class="table-container mat-elevation-z8"
          >
            <ng-container matColumnDef="loadnumber">
              <th mat-header-cell *matHeaderCellDef>Load#</th>
              <td mat-cell *matCellDef="let item">
                {{ item.data?.loadnumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Pickup Date</th>
              <td mat-cell *matCellDef="let item">
                {{ item.data?.date | date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef>Origin</th>
              <td mat-cell *matCellDef="let item">{{ item.data?.from }}</td>
            </ng-container>

            <ng-container matColumnDef="destination">
              <th mat-header-cell *matHeaderCellDef>Destination</th>
              <td mat-cell *matCellDef="let item">
                {{ item.data?.destination }}
              </td>
            </ng-container>

            <ng-container matColumnDef="commPercentage">
              <th mat-header-cell *matHeaderCellDef>Charges</th>
              <td mat-cell *matCellDef="let item">
                {{ item.data?.commPercentage | percent }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let item">
                {{ item.data?.amount | currency }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="[
                'loadnumber',
                'date',
                'from',
                'destination',
                'commPercentage',
                'amount'
              ]"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: [
                  'loadnumber',
                  'date',
                  'from',
                  'destination',
                  'commPercentage',
                  'amount'
                ]
              "
            ></tr>
          </table>
          <div class="footer">
            <p
              style="
                display: flex;
                margin-left: 250px;
                font-size: 14px;
                font-weight: 600;
              "
            >
              Total:
            </p>
            <p style="font-size: 14px; font-weight: 600">
              {{ total | currency }}
            </p>
          </div>
          <div class="footer">
            <p
              style="
                display: flex;
                margin-left: 250px;
                font-size: 14px;
                font-weight: 600;
              "
            >
              Total Charges:
            </p>
            <p style="font-size: 14px; font-weight: 600">
              {{ totalCharges | currency }}
            </p>
          </div>
          <div class="footer">
            <p
              style="
                display: flex;
                margin-left: 250px;
                font-size: 14px;
                font-weight: 600;
              "
            >
              Total Expenses:
            </p>
            <p style="font-size: 14px; font-weight: 600">
              {{ totalExpenses | currency }}
            </p>
          </div>
          <div class="footer">
            <p
              style="
                display: flex;
                margin-left: 250px;
                font-size: 14px;
                font-weight: 600;
              "
            >
              Net:
            </p>
            <p style="font-size: 14px; font-weight: 600">
              {{ total - (totalCharges + totalExpenses) | currency }}
            </p>
          </div>

          <div class="footer">
            <p
              style="
                display: flex;
                margin-left: 250px;
                font-size: 14px;
                font-weight: 600;
              "
            >
              YTD Gross:
            </p>
            <p style="font-size: 14px; font-weight: 600">
              {{ ytdTotal | currency }}
            </p>
          </div>
          <div class="footer">
            <p
              style="
                display: flex;
                margin-left: 250px;
                font-size: 14px;
                font-weight: 600;
              "
            >
              YTD Net:
            </p>
            <p style="font-size: 14px; font-weight: 600">
              {{ ytdNet | currency }}
            </p>
          </div>
        </mat-card>
      </div>
    </div>

    <div cu-modal-footer>
      <button mat-button (click)="onModalClose()">Cancel</button>
      <button mat-raised-button (click)="onSubmit()">Download</button>
    </div>
  </app-modal>
</div>
