<div class="container" *ngIf="loadsList$ | async as loadsList">
  <mat-table [dataSource]="loadsList" class="my-table" multiTemplateDataRows>
    <ng-container matColumnDef="loadnumber">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        Load #
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="my-cell">
        {{ element.data.loadnumber }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="my-cell">
        {{ element.data.date | date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        From
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="my-cell">
        {{ element.data.from }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        Destination
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="my-cell">
        {{ element.data.destination }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="commPercentage">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        Commission
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="my-cell">
        {{ element.data.commPercentage | percent }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        Amount
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="amount-cell">
        {{ element.data.amount | currency }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="my-header-cell">
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="my-cell-actions">
        <button
          mat-icon-button
          class="my-button"
          (click)="openDialog(); onLoadSelected(element)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          class="my-button"
          (click)="openEditLoadDialog(); onLoadSelected(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="my-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          class="my-button"
          mat-icon-button
          (click)="
            expandedElement === element
              ? (expandedElement = null)
              : (expandedElement = element);
            onLoadSelected(element)
          "
        >
          <mat-icon
            >visibility
            {{
              expandedElement === element ? "expand_less" : "expand_more"
            }}</mat-icon
          >
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedContent">
      <mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
        class="cell"
      >
        <div class="expandable-row" *ngIf="expandedElement === element">
          <app-expenses-list [loads]="selectedLoad"></app-expenses-list>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="my-header-row"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="data-row"
    ></mat-row>
    <mat-row
      *matRowDef="let row; columns: ['expandedContent']"
      [@detailExpand]="expandedElement === row ? 'expanded' : 'collapsed'"
      class="detail-row"
    ></mat-row>
  </mat-table>
</div>
<div class="main-complete-buttons-style"
  *ngIf="(loadsList$ | async)?.length"
>
  <div class="complete-buttons">
    <app-complete-button [title]="'Reset'" (clickButton)="openResetDialog()"></app-complete-button>
  </div>

  <div class="div">
    <app-complete-button [title]="'Complete'" (clickButton)="openCompleteDialog()"></app-complete-button>
  </div>
</div>
<!-- <button mat-raised-button (click)="openCompleteDialog()">Test</button> -->
<ng-template #addExpenseModal let modal>
  <div cu-m-content class="modal-body">
    <app-add-expenses [loads]="selectedLoad"></app-add-expenses>
  </div>
</ng-template>

<ng-template #editLoadModal let-model *ngIf="loadsList$ | async as loadsList">
  <div cu-m-content>
    <app-edit-load [loads]="selectedLoad"></app-edit-load>
  </div>
</ng-template>

<ng-template #completeModal let modal>
  <div cu-m-content>
    <app-complete [loads$]="loadsList$"></app-complete>
  </div>
</ng-template>

<ng-template #resetModal let modal>
  <div cu-m-content>
    <app-reset></app-reset>
  </div>
</ng-template>
