.mat-list {
  padding: 0;
}

.driver-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(243, 242, 242);
  box-shadow: rgb(12, 12, 12);

  transition: background-color 0.3s ease;
  cursor: pointer;
}

.driver-list-item-name {
  font-weight: normal;
  flex: 1;
  padding-right: 8px;
}

.driver-list-item-icons {
  display: flex;
  align-items: center;
}

.driver-list-item-icons button {
  font-size: 10px;
  height: 25px;
  width: 25px;
  padding: 0;
  margin-left: 4px;
}

.driver-list-item-icons button:first-child {
  margin-left: 0;
}

mat-icon {
  font-size: 22px;
}

.selected {
  background-color: #f0f0f0;
}
