<mat-list class="mat-list">
  <div
    class="driver-list-item"
    [ngClass]="{ selected: selected }"
    (click)="selectDriver()"
  >
    <div class="driver-list-item-name">
      <div>{{ driver.firstName }}</div>
    </div>
    <div class="driver-list-item-icons">
      <button
        mat-icon-button
        mat-list-icon
        aria-label="Add"
        (click)="openDialog()"
      >
        <mat-icon class="coral">add</mat-icon>
      </button>
      <button
        mat-icon-button
        mat-list-icon
        aria-label="Edit"
        (click)="openEditDriverDialog()"
      >
        <mat-icon class="coral">edit</mat-icon>
      </button>
      <button mat-icon-button mat-list-icon aria-label="Delete">
        <mat-icon class="coral">delete</mat-icon>
      </button>
      <button mat-icon-button mat-list-icon aria-label="Deactivate">
        <mat-icon class="coral">person</mat-icon>
      </button>
    </div>
  </div>
</mat-list>

<ng-template #loadModal let-modal>
  <!-- <div cu-m-content class="modal-body"> -->
  <app-add-load [driver]="driver"></app-add-load>
  <!-- </div> -->
</ng-template>

<ng-template #editDriverModal let-modal>
  <app-edit-driver [driver]="driver"></app-edit-driver>
</ng-template>
