<div class="container">
  <div class="title">Pay Stub List</div>
  <div class="filter-field">
    <mat-form-field class="search-input">
      <mat-label>Filter</mat-label>
      <input
        matInput
        type="text"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterData()"
      />
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>
  </div>

  <ng-container *ngIf="paginatedData">
    <ng-container *ngFor="let row of paginatedData">
      <mat-card class="row-card">
        <mat-card-content>
          <div class="row">
            <div class="column">
              <div class="subtitle">Driver Name</div>
              <div class="values center">{{ row?.driverName }}</div>
            </div>
            <div class="column">
              <div class="subtitle">Load #</div>
              <div
                class="values center"
                *ngFor="let l of row?.data?.loadnumbers"
              >
                {{ l }}
              </div>
            </div>
            <div class="column">
              <div class="subtitle">Pickup Date</div>
              <div class="values center" *ngFor="let d of row?.data?.dates">
                {{ d | date }}
              </div>
            </div>
            <div class="column">
              <div class="subtitle">From</div>
              <div class="values center" *ngFor="let f of row?.data?.from">
                {{ f }}
              </div>
            </div>
            <div class="column">
              <div class="subtitle">Destination</div>
              <div
                class="values center"
                *ngFor="let d of row?.data?.destination"
              >
                {{ d }}
              </div>
            </div>
            <div class="column">
              <div class="subtitle">Charges</div>
              <div
                class="values center"
                *ngFor="let c of row?.data?.commission"
              >
                {{ c | percent }}
              </div>
            </div>
            <div class="column">
              <div class="subtitle">Amount</div>
              <div class="values center" *ngFor="let r of row?.data?.amount">
                {{ r | currency }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="column">
              <div class="subtitle"></div>
              <p class="values center"></p>
            </div>
            <div class="column">
              <div class="subtitle">Grand Total</div>
              <p class="values center">
                {{ row.data?.totalAmount | currency }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">Total Charges</div>
              <p class="values center">
                {{ row.data?.totalCommission | currency }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">Total Expenses</div>

              <p class="values center">
                {{ row.data?.totalExpense | currency }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">Net Total</div>

              <p class="values center">{{ row.data?.netAmount | currency }}</p>
            </div>
            <div class="column">
              <div class="subtitle">Pay Date</div>
              <p class="values pay-stub-color center">
                {{ row.data?.paystubDate | date }}
              </p>
            </div>

            <div class="column">
              <div class="subtitle">Status</div>
              <p class="values status-color center">{{ row.data?.status }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>

  <mat-divider class="divider"></mat-divider>

  <div class="pagination">
    <button mat-button [disabled]="currentPage === 1" (click)="previousPage()">
      Previous
    </button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button
      mat-button
      [disabled]="currentPage === totalPages"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
