<div class="cu-modal">
  <div class="cu-modal-header" [ngStyle]="headerStyle">
    <h2 class="cu-modal-title" [ngStyle]="headerTitleStyle" mat-dialog-title>
      {{ headerText }}
    </h2>
    <button mat-icon-button class="cu-modal-close-button" (click)="onClose()">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="cu-modal-content">
    <div class="cu-modal-body">
      <ng-content select="[cu-m-content]"></ng-content>
    </div>
  </mat-dialog-content>

  <mat-divider class="cu-modal-divider"></mat-divider>

  <div class="cu-modal-footer">
    <mat-dialog-actions class="cu-modal-actions">
      <ng-content
        select="[cu-modal-footer]"
        class="cu-modal-footer-content"
      ></ng-content>
    </mat-dialog-actions>
  </div>
</div>
