<div class="signup-container mat-elevation-z0">
  <mat-card>
    <div class="signup-card-header-box">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
    </div>

    <mat-card-content>
      <form [formGroup]="$any(signupForm)" (ngSubmit)="submit()" class="form">
        <mat-horizontal-stepper>
          <!-- Step One -->
          <mat-step formGroupName="stepOne">
            <ng-template matStepLabel>Your Info</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First Name"
                formControlName="firstName"
              />
              <mat-icon matSuffix class="coral">person</mat-icon>

              <mat-error>{{
                validateControl("stepOne", "firstName")
              }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>

              <input
                matInput
                placeholder="Last Name"
                formControlName="lastName"
              />
              <mat-icon matSuffix class="coral">person</mat-icon>
              <mat-error>{{
                validateControl("stepOne", "lastName")
              }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Company Name</mat-label>
              <input
                matInput
                placeholder="Company Name"
                formControlName="companyName"
              />
              <mat-icon matSuffix class="coral">business</mat-icon>

              <mat-error>{{
                validateControl("stepOne", "companyName")
              }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-icon matSuffix class="coral">email</mat-icon>

              <mat-error
                *ngIf="
                  signupForm?.get('stepOne.email')?.invalid &&
                  (signupForm?.get('stepOne.email')?.dirty ||
                    signupForm?.get('stepOne.email')?.touched)
                "
                >{{ validateControl("stepOne", "email") }}</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Phone Number"
                formControlName="phoneNumber"
                (keydown)="onPhoneInput($event)"
              />
              <mat-icon matSuffix class="coral">phone</mat-icon>
              <mat-error>{{
                validateControl("stepOne", "phoneNumber")
              }}</mat-error>
            </mat-form-field>
            <div class="button-container">
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <!-- Step Two -->
          <mat-step formGroupName="stepTwo">
            <ng-template matStepLabel>Address</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <mat-icon matSuffix class="coral">home</mat-icon>

              <input matInput placeholder="Address" formControlName="address" />
              <mat-error>{{ validateControl("stepTwo", "address") }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <mat-icon matSuffix class="coral">location_city</mat-icon>

              <input matInput placeholder="City" formControlName="city" />
              <mat-error>{{ validateControl("stepTwo", "city") }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <mat-icon matSuffix class="coral">location_on</mat-icon>
              <input matInput placeholder="State" formControlName="state" />
              <mat-error>{{ validateControl("stepTwo", "state") }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>ZipCode</mat-label>
              <mat-icon matSuffix class="coral">local_post_office</mat-icon>
              <input matInput placeholder="ZipCode" formControlName="zipCode" />
              <mat-error>{{ validateControl("stepTwo", "zipCode") }}</mat-error>
            </mat-form-field>
            <div class="button-container">
              <button mat-raised-button matStepperPrevious>Back</button>

              <button mat-raised-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <!-- Step Three -->
          <mat-step formGroupName="stepThree">
            <ng-template matStepLabel>Your Credentials</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <mat-icon class="coral" matSuffix>personal</mat-icon>

              <input matInput formControlName="username" />
              <mat-error
                *ngIf="signupForm?.get('stepThree.username')?.touched"
                >{{ validateControl("stepThree", "username") }}</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-icon class="coral" matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error>{{
                validateControl("stepThree", "password")
              }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                formControlName="confirmPassword"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-icon class="coral" matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error>{{
                validateControl("stepThree", "confirmPassword")
              }}</mat-error>
            </mat-form-field>

            <div class="button-container">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button>Submit</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </mat-card-content>
  </mat-card>
</div>
