.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  // padding: 1px;
  // margin-bottom: 1px;
}

.form-field-width {
  width: 300px;
}

mat-icon {
  color: coral;
}
