<app-modal
  [headerText]="'Driver Contact Information'"
  [headerStyle]="{
    backgroundColor: 'coral',
    color: 'white',
    borderRadius: '4px',
    boxShadow: '0px 0px 6px 1px rgba(0, 0, 0, 0.1)'
  }"
  [headerTitleStyle]="{
    color: 'white'
  }"
>
  <div cu-m-content class="content">
    <mat-card>
      <mat-card-header>
        <div class="header">
          <div class="title"></div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="card-content">
          <div class="card-row">
            <div class="card-label">
              <mat-icon class="coral">smartphone</mat-icon>
            </div>
            <div class="card-value">{{ driver.phoneNumber }}</div>
          </div>
          <div class="card-row">
            <div class="card-label">
              <mat-icon class="coral">email</mat-icon>
            </div>
            <div class="card-value">{{ driver.email }}</div>
          </div>
          <div class="card-row">
            <div class="card-label">
              <mat-icon class="coral">home</mat-icon>
            </div>
            <div class="card-value">
              {{ driver.address.street }}
              {{ driver.address.city }}
              {{ driver.address.state }}
              {{ driver.address.zipCode }}
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-button cu-modal-footer (click)="onClose()">Close</button>
</app-modal>
