mat-nav-list a {
  display: block;
  align-items: center;
  color: #555;
  height: 40px;
  line-height: 24px;
  text-decoration: none;
  padding: 12px 24px;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #eee;
  }

  mat-icon {
    margin-right: 8px;
    margin-bottom: -2px;
  }

}
