<mat-nav-list>
  <div *ngIf="authService.isAuthenticated | async">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
  </div>
  <div class="div" *ngIf="authService.isAuthenticated | async; else logIn">
    <a
      mat-button
      routerLink="/signout"
      routerLinkActive="active"
      (click)="signout()"
    >
      <mat-icon>lock</mat-icon>
      <span>Logout</span>
    </a>
  </div>
</mat-nav-list>

<ng-template #logIn>
  <a mat-button routerLink="/signin" routerLinkActive="active-link">
    <mat-icon>lock</mat-icon>
    <span>Login</span>
  </a>
</ng-template>
