<div class="container">
  <div class="title">Drivers List</div>
  <div class="filter-field">
    <mat-form-field class="search-input">
      <mat-label>Filter</mat-label>
      <input
        matInput
        type="text"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterData()"
      />
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>
  </div>

  <ng-container>
    <ng-container *ngFor="let row of paginatedData">
      <mat-card class="row-card">
        <mat-card-content>
          <div class="row">
            <div class="column">
              <div class="subtitle">Driver Name</div>
              <p class="values center">{{ row.data?.firstName }}</p>
            </div>
            <div class="column">
              <div class="subtitle">Last Name</div>
              <p class="values center">
                {{ row.data?.lastName }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">Truck Number</div>
              <p class="values center">
                {{ row.data?.truckNumber | date }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">License No</div>
              <p class="values center">{{ row.data?.licenseNo }}</p>
            </div>
            <div class="column">
              <div class="subtitle">Phone Number</div>
              <p class="values center">
                {{ row.data?.phoneNumber }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">Email</div>
              <p class="values center">
                {{ row.data?.email }}
              </p>
            </div>
            <div class="column">
              <div class="subtitle">Status</div>
              <p
                class="values status-active center"
                *ngIf="row.data?.active === true"
              >
                {{ "active" }}
              </p>

              <p
                class="values status-inactive center"
                *ngIf="row.data?.active === false"
              >
                {{ "inactive" }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>

  <mat-divider class="divider"></mat-divider>

  <div class="pagination">
    <button mat-button [disabled]="currentPage === 1" (click)="previousPage()">
      Previous
    </button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button
      mat-button
      [disabled]="currentPage === totalPages"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
